<% include partials/header %>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  <h1>Results for "<%=search %>"</h1>
  <% if(response == "True"){ %>
  <% for(var i = 0;i < content.length;i++){ %>
      <div class="ind-movie">
        <h4 class="title"><%= content[i].Title %></h4>
        <p class="year"><span class="s-year"> Year :</span> <%= content[i].Year %></p>
        <a class="btn btn-success" style="width:100px;padding:5px;text-align:center" href="/results/<%=content[i].imdbID%>">More info</a>
      </div>
      <% } %>
      <% }else{ %>
        <h4>No movies found </h4>
      <% }%>
    </div>
    <div class="col-md-2"></div>
    </div>
      <% include partials/footer %>
